[2015-12-18 21:32] ljpearlman opened #3 "Error 500 after authenticating with GOAuth"
This was caused by two problems:

1. The goauth attribute provider wasn't creating the attribute tables, causing the attempt to save the user's attributes (groups) to fail.

2. The GOAuth nexus library uses httplib2 to send queries to the GOAuth server. By default, the httplib2 methods check a file in the httplib2 directory to find the list of trusted CAs. The permissions on this file were too res

[2015-12-23 00:33] bugacov commented on #3
Testing on gpcr-dev.misd.isi.edu I was able to get the goauth to work and was able to create a new catalog in that machine

[2015-12-23 00:34] #3 closed

[2016-02-02 18:40] robes opened #4 "Need documnetation"
We need to have documentation on this. As far as I can tell there are none right now.

[2016-02-02 19:27] karlcz commented on #4
I thought we had some old wiki content on this but I am unable to locate any on the legacy wikis. I think we need to write new user-level documentation and focus on session-based scenarios we intend to support:

1. Totally standalone local accounts in DB, as used in CI testing scenarios
2. GOauth integration using the new (beta) services rather than those being deprecated shortly
3. Google via Ope

[2016-02-02 20:31] carlkesselman commented on #4
How different are 2 and 3 now that we can use the Google OAUTH clients without change for Globus Auth?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University

[2016-02-02 21:39] karlcz commented on #4
A big difference is that there is no attribute aka group provider when using pure OpenID Connect without Globus integration.  So, it's a bit of a novelty setup at the moment unless we allow our local attribute provider to compose with remote identity providers.

[2016-02-02 23:27] karlcz opened #5 "Need preauth provider to use with local database accounts provider"
For consistency in the REST API, we should have a preauth provider that just returns a login form and/or form-building instructions for use with the local accounts provider.

[2016-02-02 23:29] karlcz opened #6 "Preauth REST endpoint needs to handle lack of provider"
When a preauth provider is not configured, a `GET .../authn/preauth` returns `200 OK` with the plain text response `None` i.e. a serialization of the Python None value.

It should actually return `404 Not Found` if there is no preauth functionality, or perhaps `405 No Method` if only certain methods are unavailable.

[2016-02-02 23:31] karlcz opened #7 "Refactor preauth provider configuration structure"
It seems like the preauth provider is really a sub-component of the user identity provider and should therefore be registered as an additional API sub-object on that provider. This way, configuring the identity provider in the `webauthn_config.json` would implicitly set the appropriate preauth provider, and the sysadmin would be unable to configure a nonsensical combination of providers.

[2016-02-03 02:12] karlcz commented on #4
@ljpearlman, please review for accuracy and complete the section on session establishment workflow. Then, reassign to @robes to review for scope since he submitted the issue...

[2016-02-03 02:14] karlcz opened #8 "GET preauth should set content-type"
The preauth response is JSON and so needs `application/json` content-type rather than `text/plain`.

[2016-02-03 02:19] karlcz opened #9 "Refactor standalone /authn REST API"
Rather than embedding webauthn endpoints under `/ermrest/authn/`, deploy another WSGI service under the `/authn/` path on the server using its own daemon account and a single copy of `webauthn_config.json`.  Make ERMrest and Hatrac deployments reference this configuration to setup their basic message-level authentication but otherwise omit authn endpoints from those services.

This will make it ea

[2016-02-03 18:09] karlcz opened #10 "Some REST responses lack content-length"
Request handlers need to set a content-length response header or else the web framework will use chunked encoding to send the response content.

[2016-02-03 18:24] karlcz opened #11 "Preauth DELETE will have internal server error"
As I understand it, the generic providers/provider.py method is inherited which raises NotImplementedError.

[2016-02-03 18:33] karlcz commented on #10
Assigning to @ljpearlman to sanity-check the patch.

[2016-02-03 18:34] karlcz commented on #11
Fix in 8c8046afb52a0f1405150a7bcf30094928493117. Assign to @ljpearlman to sanity-check.

[2016-02-03 18:38] karlcz commented on #8
Also, I think this code should be refactored to do the content-negotiation decision between HTML and JSON within the rest.py layer and pass down the decision in the calls to the provider modules. This may mean advertising the supported content types and defaults as provider class members so that the rest wrapper can adapt the negotiation to the types supported by the provider.

[2016-02-05 01:43] ljpearlman commented on #7
One reason to consider leaving this as-is is that, if we ever want to support more than one authentication method on the same webauthn instance (which may be more likely after https://github.com/informatics-isi-edu/webauthn/issues/9), then we'd want to configure a preauth method that let the user select (or read some configuration about which method(s) to implement for which services, or something

[2016-02-05 21:29] karlcz commented on #7
I worry that we are allowing too much programming-like variability in the config file. Perhaps we should really have a higher level notion of supported configurations as Python modules that import and compose a particular set of providers (allowing code reuse where we'd want). The sysadmin should only be choosing between the available compositions we've tested and plan to support...

[2016-02-05 21:41] ljpearlman commented on #7
We could just put together some example templates. That would also help
people know, for example, which options go with which OAuth providers
(things like scope, discovery URL, and some behavioral options are
different for different providers).

               -- Laura

On 2/5/16 1:29 PM, karlcz wrote:

[2016-02-09 23:50] ljpearlman opened #12 "Implement globus_auth (new Globus OAuth plus groups) provider for webauthn"

[2016-02-10 01:00] robes opened #13 "Fragment identifier lost"
The fragment identifier of the URL is getting lost sometime in the login process. Serban has looked at it and confirmed to his knowledge that the referrer is passed correctly during the process. The easiest way to see the bug is following the link entered by Carl in the associated Chaise issue. At this point it looks like it needs tracing at the webauthn level.

Related issue:
https://github.com/i

[2016-02-10 01:11] karlcz commented on #13
Can a reproducible test case be created that works on dev.misd so no interaction with the GPCR server or restricted groups is required?

[2016-02-10 02:02] carlkesselman commented on #13
Not by me…..

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina del Rey, CA  90292-6695
Phon

[2016-02-10 02:06] bugacov commented on #13
I assume we can rollout the gpcr-www repo to have a landing page and adjust
the bookmarks if needed?
Alejandro.

On Tue, Feb 9, 2016 at 6:02 PM, Carl Kesselman <notifications@github.com>
wrote:

[2016-02-10 02:10] karlcz commented on #13
This bug is in Chaise, not webauthn. Fix will be pushed to chaise momentarily.

[2016-02-10 02:10] #13 closed

[2016-02-10 19:11] bugacov commented on #13
This is now rolled out in gpcr-dev and works well!!!
Alejandro.

On Tue, Feb 9, 2016 at 6:10 PM, karlcz <notifications@github.com> wrote:

[2016-02-10 19:53] ljpearlman commented on #12
Just parking this here so I don't have to search my mail for it:

FYI – the scope names for Globus auth will be changing this afternoon.

This does not affect the legacy support, but will need to be used in your Globus Auth client.

From: Brendan McCollam [mailto:bjmc@globus.org]
Sent: Wednesday, February 10, 2016 12:54 PM
To: auth@globus.org
Subject: Beta deploy this afternoon will remove many us

[2016-02-10 22:23] karlcz opened #14 "Webauthn support for Apache static pages"
For some use cases, it seems we'd want to have some kind of `mod_webauthn` module for Apache to allow webauthn-based access control policies on static pages etc.  Currently, we can only apply such policies in our own custom Python web services.
1. Provide equivalent to the Python-based get-message-context operation that we perform at the top of each of our web service request handlers. This could

[2016-02-11 00:49] ljpearlman opened #15 "Provide post-logout advice when appropriate"
With some third-party authn systems (including OAuth and Shibboleth), the user is left with third-party cookies that can be used to log back in to our services immediately without re-authenticating to the third-party server. The typical approach to this on other systems is to present the user with a page advising them to shut down their browser. We should extend our providers to return something t

[2016-02-18 23:46] karlcz opened #16 "Add globus logout to goauth provider"
Apparently, issuing a `GET` on `https://auth.globus.org/v2/web/logout` with an optional `redirect_uri` query parameter can end the Globus authentication cookie which otherwise keeps a browser logged in persistently.

We should try to introduce this as a client redirect step in our webauthn flow to prevent auto-login when we intend user identity challenge.

I suggest adding it to the `GET preauth`

[2016-02-19 06:10] ljpearlman commented on #12
This is probably not going to be done by Monday. I've been getting 401 errors in the exchange-code-for-token requests. Kyle and I have both been working on this; I'm not sure how long this will take to fix (and then there's the new group interface to deal with after that).

Kyle sent a java program that apparently works for him; it doesn't work for me.

One complication is that my dev host's white

[2016-02-20 02:18] karlcz commented on #5
I think this would be a solution to #6 i.e. all configs have a fallback preauthn provider rather than an absent mechanism.

[2016-02-20 02:23] karlcz commented on #15
I think this might be addressed by #16 and informatics-isi-edu/chaise#208 in combination?

[2016-02-22 18:38] bugacov opened #17 "Incorrect padding cookie error in new privisioned VM (gpcr-staging.misd.isi.edu)"
In this VM when trying to authenticate the server throws an "Incorrect padding" error.
The server whitelisting seems to be ok because I do get authenticated. I compared the cookies file I get using the dev machine and they seem to look very similar.
Below is the trace stack and cookies.

[Mon Feb 22 10:19:42.383890 2016] [:error] [pid 3849] [remote 128.9.136.65:116] "in GET /preauth, user agent is

[2016-02-22 19:10] karlcz commented on #17
With further testing it seems this failure is specific to this referrer argument `https://gpcr-staging.misd.isi.edu/chaise/search/#1/gpcr_browser:construct_gui?facets=(construct_gui:site::eq::USC)&layout=table&page=1` and does not occur for a simpler argument like `https://gpcr-staging.misd.isi.edu/chaise/search`, so there seems to be a hole in the URL parsing and/or encoding in the goauth provide

[2016-02-22 20:23] bugacov commented on #17
I think this is confirmed now.
From the landing page https://gpcr-staging.misd.isi.edu/data/ the biomass
links seem to work ok but the
Target and construct links produce the server error.

The same error doesn't happen when using the landing site
https://gpcr-dev.misd.isi.edu/data/

On Mon, Feb 22, 2016 at 11:10 AM, Karl Czajkowski <notifications@github.com>
wrote:

[2016-02-22 21:13] ljpearlman commented on #17
Must be the # character, thanks.

               -- Laura

On 2/22/16 12:23 PM, bugacov wrote:

[2016-02-24 02:05] karlcz commented on #17
I think this is fixed in 87279aafd9822f3a6066c58760bf7c0e09e8f9bc so please update your webauthn library, restart httpd, and give it a test.

[2016-02-24 02:07] bugacov commented on #17
I don't think the # sign must be the problem cos the issue seems to be more dependent on the url prefix (i.e., the server name part of the url) than in the rest of the link. To give you an example:

dev.gpcrconsortium.org is an alias for gpcr-dev.misd.isi.edu

The links for Constructs -> USC work well if coming from gpcr-dev.misd.isi.edu but breaks if getting to the same page from its alias dev.gp

[2016-02-24 02:25] bugacov commented on #17
that seems to have fixed it!!

[2016-02-24 02:27] #17 closed

[2016-02-25 20:39] hongsudt opened #18 "The authentication workflow force new users to link to an existing globus account"
It seems like the action of the "Do Not link to globus account" is pointed to the wrong code..

* I just tried logging in using my usc/google account to staging.gpcrconsortium.org.

* The first time I went through the process, there was a step that asked me whether I wanted to link to the existing account, or not. In this case, I chose not.
![link_to_globus_account](https://cloud.githubusercontent

[2016-02-26 22:50] hongsudt commented on #18
To summary the issue based on our email thread with Kyle,
* With legacy GOAuth support you have to link to a Globus identity as that is the only way GOAuth can work.
* With the new Globus Auth model you will not need to link to a Globus identity.

We decided based on the call on 02/26 that:
* The temporary solution is to use only globus ID to avoid the confusion of account linkage.
* Long term sol

[2016-02-26 23:00] carlkesselman commented on #18
This is consistent with my understanding of the situation.

My recommendation is that we move forward rapidly with the new Globus Auth model, as I think that this will minimize user confusion even in the short run.

By “this” in the last sentence, you mean webauth with the new authentication model.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professo

[2016-02-26 23:06] hongsudt commented on #18
Sorry for the vague use of the word long term. The Globus Auth model will be in the next sprint expecting to have it tested and ready by end of 2016-03 cycle. We already set up a meeting on 03/02 when Kyle is in the area to go over the technical solution/expectation.

[2016-02-26 23:11] carlkesselman commented on #18
Excellent.  I think that should be fine and kind of what I was hoping for.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676

[2016-02-26 23:20] ljpearlman commented on #18
There doesn't appear to be a DNS entry for dev.isrd.isi.edu yet. Is anyone working on changing that host's name? I was hoping to test the new stuff on that host (which needs the name change because of the white list entry) next week.

[2016-02-26 23:31] crisaless commented on #18
if you can get me the hostname - and maybe IP address to be safe - I can ask Action for the DNS entry.

[2016-02-26 23:31] karlcz commented on #18
I don't think anyone has requested it yet.  I think this request is
supposed to go through colo-mgmt.  I believe we have the *.isrd cert
ready and waiting.

If they could add the new name as an A record to the existing IP and
drop the old A record later when we are ready, that would be ideal to
minimize disruption...

[2016-02-26 23:40] ljpearlman commented on #18
@crisaless Thanks! dev.isrd.isi.edu 128.9.128.88. And dev.misd.isi.edu should be changed into a CNAME record (alias) that points to dev.isrd.isi.edu.

[2016-02-27 01:05] crisaless commented on #18
fyi, Ken from Action replied with this - which relates to how the IP address is actually assigned. Sounds like we want the second option:

"Currently, 128.9.128.88 is assigned to dev.misd.isi.edu. Do you want us to add a CNAME dev.isrd.isi.edu to point to dev.misd.isi.edu or do you want us to assign IP address 128.9.128.88 to dev.isrd.isi.edu and remove dev.misd.isi.edu?"

[2016-02-27 01:12] karlcz commented on #18
We are trying to migrate from the old MISD name to the new ISRD name.  As Laura said in a previous comment, we want the new dev.isrd.isi.edu name to point to the existing IP address.  We'd like to keep the old name as a CNAME for a few weeks to help us transition existing clients off to the new name, then we can drop the old MISD name for this host permanently.

[2016-03-04 22:50] hongsudt commented on #18
Staging.gpcr* is now using the right login flow. Will close this issue.

[2016-03-04 22:50] #18 closed

[2016-03-04 22:53] hongsudt opened #19 "ETL Script to upgrade webauthn DB"

[2016-03-07 20:16] karlcz commented on #19
I suspect this is supposed to be project-specific ETL to fixup ERMrest databases that contain raw webauthn user IDs to instead contain the new denormalized user references we plan for this release.  I think other staff would do that ETL, but @ljpearlman would help provide the core mapping table needed to convert the old ID to the new format.

[2016-03-07 20:24] ljpearlman commented on #19
We've split that out into a different issue. This one is the database
used internally by webauthn itself.

                   -- Laura

On 3/7/16 12:16 PM, Karl Czajkowski wrote:

[2016-03-12 00:35] karlcz opened #20 "globus_auth is breaking ermrest and hatrac travis builds"
The conditionalization of all the oauth2 dependencies is not working. The travis deploys for other services use the local db providers and do not expect oauth dependencies to be in place. This is a recent regression.

See [failed ermrest test cycle](https://s3.amazonaws.com/archive.travis-ci.org/jobs/113023832/log.txt) which ends with:

[code]

[2016-03-12 00:36] karlcz commented on #20
@hongsudt I think this should be in the current milestone as it prevents the CI tests on ermrest and hatrac.  it's probably a pretty small fix for @ljpearlman

[2016-03-12 01:09] ljpearlman commented on #20
Sorry about that. Just pushed a fix.

[2016-03-12 02:56] ljpearlman opened #21 "Create recipe for webauthn-dev based on dev.isrd, with globus_auth authentication"
This is what we talked about as part of the current sprint; we just neglected to make an issue for it.

[2016-03-12 02:59] ljpearlman commented on #16
Implemented in globus_auth, not goauth.

[2016-03-14 21:05] ljpearlman opened #22 "Deprecate crowd-based and oauth1a providers"
We need to either get rid of or support (provide documentation and tests for) these providers: crowd2, crowdrest1, and oauth1a.

[2016-03-14 21:42] karlcz commented on #22
I think we should drop the crowd providers as we are not maintaining nor testing them.

[2016-03-15 00:19] karlcz commented on #19
Does this issue include getting a master mapping table of usernames and groupnames to the new representation?  Or is that another issue we still need to create?

[2016-03-15 00:20] #20 closed

[2016-03-15 18:31] karlcz opened #23 "Database attributes not working in globus_auth branch"
For testing I did:
1. installed webauthn/globus_auth
2. dropped webauthn schema in ermrest DB
3. ermrest-webauthn2-deploy to redeploy using a webauthn_config that has database providers for clients and attributes
4. ermrest-webauthn2-manage to setup test user, test attribute, and assign test attribute to test user

At this point, I can view the database itself and see that the user-attribute pair

[2016-03-15 23:36] karlcz commented on #23
This was fixed in a patch that @ljpearlman pushed today.

[2016-03-15 23:36] #23 closed

[2016-03-18 01:17] karlcz commented on #12
@ljpearlman should we close this now that I have witnessed it on synapse-dev w/ globus_auth?  or do you want to keep it open until it is merged to master later?

[2016-03-18 17:17] karlcz commented on #21
@ljpearlman did you assign me the wrong issue?  I said I'd work on isrd-dev, not on your webauthn-dev vm...?

[2016-03-18 17:19] ljpearlman commented on #21
Oops -- yeah, sorry.

[2016-03-20 03:35] hongsudt commented on #15
Will close this as it is a duplicate of informatics-isi-edu/chaise#208.

[2016-03-20 03:35] #15 closed

[2016-03-21 23:25] karlcz commented on #21
The synapse-dev and isrd-dev recipes should be good examples for this now...

[2016-03-21 23:35] ljpearlman commented on #21
Thanks! I actually completed this with commit 8f69e9756e98ee5417987ee92da3c6efb4523aab, although I didn't realize it at the time (I thought there was some magic I was missing to use a branch).

[2016-03-21 23:38] ljpearlman opened #24 "Merge globus_auth branch with master"

[2016-03-21 23:40] ljpearlman commented on #12
Let's close it. I created #24 for the merge.

[2016-03-21 23:40] #12 closed

[2016-03-21 23:42] karlcz commented on #21
You might want to compare your recipe to synapse-dev... I refactored a bunch of ISRD standard stuff into a common Makefile to reduce the repetition and divergence of different VM recipes.  I think eventually that most recipes will converge to use this style, so we can update in one place to apply a fix to our standard methods...

[2016-03-21 23:51] karlcz opened #25 "Deprecate globusonline and goauth providers"
We expect globus-based deployments to switch to the new globus_auth provider that speaks to their current generation protocols. Let's deprecate and then remove the old globusonline and goauth providers in webauthn since they will not be getting maintenance and test attention.

[2016-03-23 22:24] #21 closed

[2016-03-23 22:26] karlcz commented on #16
We can experience this end-to-end on dev.isrd.isi.edu with UI integration and it is pretty ugly... not sure whether we want to keep this issue open or file some other issue to track upstream changes to the globus logout page flow?

[2016-03-24 20:28] karlcz commented on #10
I'm going to declare this self-reviewed...

[2016-03-24 20:28] #10 closed

[2016-03-24 20:30] karlcz commented on #11
I'm going to declare this self-reviewed...

[2016-03-24 20:30] #11 closed

[2016-03-29 00:05] ljpearlman commented on #5
See https://github.com/informatics-isi-edu/webauthn/blob/globus_auth/doc/rest_api.md for provider-independent login/logout support

[2016-03-29 17:05] karlcz commented on #5
With an existing deployment w/o a preauth provider enabled in the config, a `GET /ermrest/authn/preauth` responds 200 OK, application/json, and JSON value of `null`...  is this really appropriate?  I would expect some other error status like 404 Not Found or 405 No Method in the case that no preauth provider is configured.

[2016-03-29 17:14] karlcz commented on #5
The message `Add an option to the db provider to present a pre-written html form. ` on 9065c67588ef51a9f48dd8dd81fd0f654d802477 leads me to expect a text/html response. However, what I get is:

[code]

This happens regardless of whether I send an `Accept: text/html` header. The presence of the `authentication_type` and `login_form` outer object fields makes me think some server-side transforms are

[2016-03-30 00:27] karlcz opened #26 "Add required_attributes ACL"
As we migrate to identity and attribute providers with more global scope, it is not very meaningful to merely require an identity.  We may want to require membership in a certain group as a basic gateway to start a webauthn session on a particular deployed server.

[2016-03-30 01:26] ljpearlman commented on #26
I agree that just requiring an identity isn't a good mechanism for access control. This seems like something that should be done at the container layer, implemented with mod_webauthn (#14) and httpd config directives.

[2016-03-30 01:34] ljpearlman commented on #5
It always returns a JSON object. The idea is that the application sends GET /preauth and looks at the results. If there's a redirect_url, the application redirects the client to that URL (which might point to a static html form on the local host); otherwise, if there's a login_form, the application constructs an html form based on the contents of the login_form structure.

[2016-03-30 01:49] karlcz commented on #5
And so it is supposed to return JSON `null` to indicate we have no idea what to do?

[2016-03-30 01:50] ljpearlman commented on #5
If we have no idea what to do, we shouldn't have a provider, and I'm going to make it return 405 in that case.

[2016-03-30 01:51] ljpearlman commented on #5
Although I guess that doesn't handle the case of a badly-configured provider.

[2016-03-30 03:24] ljpearlman commented on #16
I don't like either of those alternatives, because that means there's going to be an issue sitting open potentially forever with no progress being made until Globus makes a change that they currently don't intend to make. So I'd prefer to try to make the best of what's there now.

There are probably some ways to make the user experience a little better (@hongsudt and I talked about this earlier),

[2016-03-30 23:23] karlcz commented on #5
confirmed that `database` preauth provider works as described

[2016-03-30 23:23] #5 closed

[2016-03-30 23:23] karlcz commented on #6
confirmed that I get 404 Not Found when no preauth provider is configured.

[2016-03-30 23:23] #6 closed

[2016-03-30 23:32] karlcz commented on #7
@ljpearlman I think we sort of did this issue or at least voided it with the current globus_auth branch, right?

[2016-03-30 23:34] karlcz commented on #8
@ljpearlman I think this is also done in the globus_auth branch already, right?

[2016-04-01 17:01] hongsudt opened #27 "Save user last access information"
We need this information so that we can remove users that haven't been active for a certain period of time.

[2016-04-01 17:44] ljpearlman commented on #27
I think the question this is trying to answer is "when did they last log
in" (i.e., when did they last go through whatever login process is used
by the configured client provider), not "when did they last use our
service".

                  -- Laura

On 4/1/16 10:25 AM, Karl Czajkowski wrote:

[2016-04-01 17:49] karlcz commented on #27
I am 100% sure that the program managers want to know when people have
stopped using the service.  If we assume sessions are short, these are
reasonably proxies for each other.  But given that there is no upper
limit on session length, I don't think we should conflate the two.  We
could have a login days/weeks/months before the last access if it
never times out.

[2016-04-01 18:34] ljpearlman commented on #27
Also #2 could make a user with a currently-open long-running session
look idle. #1 is probably the way to go. But do we *also* want a
last-logged-in time?

Since people are already going to need to make some db changes for the
current set of webauthn updates, I'd like to add the new db columns now,
so people don't have to update their databases yet again when we
implement this.

               --

[2016-04-01 18:39] karlcz commented on #27
Yes I think the last login and last access times should both be tracked
for users.

Should we also add a config knob for the update throttling period
(currently hard-coded as 5 seconds I think)?  This should apply
equally to both the session expiry and last-access time updates.

[2016-04-04 16:59] hongsudt commented on #19
@ljpearlman is this issue done? I am moving it to 2016-04 milestone. Please put it under review or close it if it is done.

[2016-04-04 17:10] hongsudt commented on #7
@karlcz who should this issued be assigned to? @karlcz or @ljpearlman ?

[2016-04-04 21:42] ljpearlman commented on #27
I think we should track three things:

1. Last login - the last time the user went through the login process.
2. Last session extension - the last time the user's session was extended.
3. Last group update - the last time the user's groups were verified/updated.

These would all be fields in the user table. Only the client provider would write to that table, but it would provide set_session_extens

[2016-04-04 22:15] hongsudt opened #28 "migration to globus auth"

[2016-04-04 23:05] ljpearlman opened #29 "globus_auth only recognizes groups associated with the user's primary identity"

[2016-04-04 23:07] ljpearlman opened #30 "Always respond with a referer after a logout request, successful or unsuccessful."

[2016-04-05 01:17] ljpearlman opened #31 "database preauth provider should handle referrer arg"
The database provider should behave the same way the other providers do when given a referrer arg (i.e., keep track of it so the user can be redirected after a successful login).

[2016-04-05 03:51] ljpearlman commented on #31
If you configure webauthn to use the database provider and set "database_login_form" to the path to a login form (relative URL; e.g. /my/form.html for https://dev.isrd.isi.edu/my/form.html), then GET /preauth will behave the same way it does with the oauth-based providers. So a user who starts out on a chaise page and clicks the login button will be sent to a login form and then, after they submit

[2016-04-05 04:00] ljpearlman commented on #8
The version in the branch is currently always returning application/json now (I left a compatibility option to do the content negotiation, but no one is using it). I think we'd agreed to assume that there would always be a GUI layer to consume this kind of information, so I'd like to keep it simple and leave it this way.

[2016-04-05 17:19] #31 closed

[2016-04-05 17:20] #8 closed

[2016-04-05 17:22] karlcz commented on #19
Sorry I'm not clear on what I am supposed to review here. Can you point me to some code or a revision or something?

[2016-04-05 17:36] ljpearlman commented on #19
It's the stuff in https://github.com/informatics-isi-edu/webauthn/tree/globus_auth/webauthn2/scripts/globus_auth_upgrade (minus the script that you wrote).

[2016-04-05 21:22] karlcz commented on #19
I understand this upgrade as an optional step to carry forward existing user information collected from past visits. Otherwise, the new system will start over with an empty user table and only collect user info for future visits.

[2016-04-06 00:39] karlcz commented on #7
I think we can just close this issue now. We've gone in a different direction with providers, documentation, and our own internal provisioning and configs so there are lots of examples floating around and no clear action to take here...

[2016-04-06 00:39] #7 closed

[2016-04-06 00:47] karlcz commented on #29
@hongsudt this is something we want reviewed ASAP so I'll set it to current milestone...

[2016-04-06 00:48] karlcz commented on #30
@hongsudt this is something we want reviewed ASAP so I'll put it in current milestone...

[2016-04-06 19:23] howdyjessie commented on #29
All the groups associated with all my identities are now displayed in the attributes list!

[2016-04-06 19:23] #29 closed

[2016-04-06 22:06] ljpearlman commented on #19
Just realized we need one of these for the database provider.

[2016-04-06 22:06] #16 closed

[2016-04-06 22:11] karlcz commented on #19
Unless Mike needs it, I don't think it matters.  We mostly use the database provider in transient deployments that would have no need to upgrade.

[2016-04-13 03:05] ljpearlman commented on #19
There's now a script that will find the schema names in the ermrest and hatrac config files and upgrade schemas in place. I've also bumped the db version numbers so the script can see whether it's been run more than once. In https://github.com/informatics-isi-edu/webauthn/tree/globus_auth/webauthn2/scripts/v2_upgrade

[2016-04-13 18:44] karlcz commented on #19
I don't have any plans to run this upgrade script so am reassigning to @bugacov to review when he applies these changes to his next dev VM

[2016-04-13 19:53] ljpearlman commented on #19
@bugacov - you can run /usr/sbin/webauthn2-v2-upgrade as root instead of dropping database schemas and running ermrest-webauthn2-deploy. This will update both the ermrest and hatrac databases. If you're not using hatrac, you can use the --ermrest-only option to just update the ermrest db.

(By default, the script tries to update the hatrac db only if ~hatrac/webauthn_config.json exists. But if the

[2016-04-13 21:33] ljpearlman commented on #26
I don't think this belongs in the "migration to globus auth" epic. It's new functionality orthogonal to the choice of provider, and it's not a prerequisite for using globus_auth for authentication.

[2016-04-14 23:35] karlcz opened #32 "Make deployment idempotent with implicit upgrade"
For devops sanity, make the existing deploy process automatically create or update the database to have the correct schema for the current codebase and configuration file. Detect existing content and upgrade in place if feasible, i.e. for an upgrade to the same configured provider.

I don't think migration is important, e.g. detecting content from a different provider.  That can be left as a manua

[2016-04-15 03:22] ljpearlman commented on #24
Waiting for people to install and test on dev hosts before I do this...

[2016-04-16 01:41] hongsudt commented on #30
@svoinea can you review and close this feature from @ljpearlman ?

[2016-04-16 02:17] svoinea commented on #30
The feature was tested on rbk-dev and works as expected.

The ermrest_config.json file needs to have these two lines:

      "default_logout_path": "/chaise/logout",
      "globus_auth_logout_redirect_name": "RBK"

[2016-04-16 02:17] #30 closed

[2016-04-19 19:01] karlcz opened #33 "Add cache to bypass DB for frequent session lookup"
In micro-benchmarking of the Hatrac object store, the time to obtain the existing session context almost doubles the total request time to find and serve small objects (such as pyramidal image tiles).  It is adding 3-4ms per request.  This has a big impact when doing bulk requests for lots of tiles.

Since there are not that many sessions, I think we can easily cache them in a Python data structur

[2016-04-20 21:25] karlcz commented on #19
We just tested this on gpcr-dev to upgrade to the globus_auth branch while remaining on the goauth provider config.  Some minor bugs were found and a patch committed.  I think we can call this complete.

[2016-04-20 21:25] #19 closed

[2016-04-20 22:55] karlcz commented on #26
Hmm, I think the required_attributes ACL would restrict login, not resource access subsequent to login.  It is not a job for mod_webauthn which is analogous to the resource-level ACLs in our other services.  Instead, it is a decision whether authentication and session establishment is allowed to complete at all.

Even if there is little or no difference in resource consumption on the back-end, I t

[2016-04-21 17:51] karlcz opened #34 "Replace web.database with psycopg2"
I think we should replace our DB connection layer to use psycopg2 pooled connections and remove all trace of the old web.database access layer.
- Manage our own connection pool as in ERMrest and Hatrac
- Add prepared statements for frequent operations in the hot-path, particularly for authenticating requests within existing sessions

[2016-04-21 17:58] karlcz opened #35 "Overhaul webauthn system integration"
A number of enhancements should come together to improve performance, testing, and ease of administration.

[2016-04-28 01:45] karlcz commented on #24
This has been done...

[2016-04-28 01:45] #24 closed

[2016-04-29 22:01] karlcz commented on #22
crowd providers pruned out in 15ed2d679ad9fa545970cef7538f6a65ffdb25e3

[2016-05-16 23:03] hongsudt commented on #22
@ljpearlman I am putting this in review. Please close the issue if it is done.

[2016-05-20 17:22] karlcz commented on #14
I added a third point to this issue description based on a conversation I had with @ljpearlman to refactor our handling of basic message authentication in services.

[2016-05-25 02:08] karlcz opened #39 "Add CI test suite"
Add basic REST API tests using the new /authn API in standalone mode

[2016-05-25 21:08] karlcz commented on #32
I think this was actually done well enough (for now) in master a while back, and that is retained in the restapi branch.  Future issues might improve this along with other changes to deployment and DB versioning stuff.

[2016-05-25 21:08] #32 closed

[2016-05-25 21:14] karlcz commented on #39
This is now in restapi branch and tests basic preauth, login, logout, and session APIs as well as the basic read-only user and attribute listings.  It does this for the standalone database provider setup.

It works for me on a Fedora VM but I'm still chasing bugs to get the actual travis build to succeed. (It builds and runs the test suite but is reporting some test case failures.)

[2016-05-25 21:21] karlcz commented on #33
I think this will be handled as part of the new apache module and changing over to use that for hot-path authentication, right @ljpearlman ?

[2016-05-25 22:51] karlcz commented on #9
I think this is actually working and ready to review now.  Not sure if we should wait until we can hook up the new apache module before merging into master though...?

[2016-05-25 22:56] karlcz commented on #26
I guess I'm going to agree for expedience that we can require group membership via mod_webauthn and it's going to take later pondering and work to do anything better about rejecting logins.  That seems inherently identity-provider specific...

[2016-05-25 22:56] #26 closed

[2016-05-25 23:14] karlcz commented on #25
This is done in the restapi branch.  So, when we merge that we cannot support legacy servers anymore...

[2016-05-26 05:50] ljpearlman commented on #25
Is there a reason this needs to be done in the restapi branch? This may mean a significant delay in merging that branch, and I thought we were trying to move away from that.

[2016-05-26 06:11] karlcz commented on #25
We won't delay the merge for the sake of legacy provider consumers.
Since this branch is already disrupting deployment and build processes
(again) I don't want to have any more intermediate deployment
milestones.  Any deployment not yet on the providers we will support
in the future MUST migrate first (or stay on their previous revision
until they can do so).

The only thing I'd consider delaying

[2016-05-26 19:11] karlcz commented on #25
Can you review that I've removed the modules and associated documentation w/o breaking the remaining ones?

[2016-05-26 22:05] ljpearlman commented on #33
Right.

[2016-05-26 22:31] ljpearlman commented on #9
@karlcz - is there a specific commit I should be testing with?

[2016-05-26 23:01] karlcz commented on #9
head of restapi branch

[2016-05-26 23:13] ljpearlman commented on #9
I tried that on my test machine (checked out restapi webauthn, then ran the hourly dev-update script) and got this:

[Thu May 26 15:29:23.781134 2016] [:error] [pid 2292] [remote 128.9.136.72:0] mod_wsgi (pid=2292): Target WSGI script '/usr/lib/python2.7/site-packages/ermrest/ermrest.wsgi' cannot be loaded as Python module.
[Thu May 26 15:29:23.781173 2016] [:error] [pid 2292] [remote 128.9.136.72

[2016-05-26 23:25] karlcz commented on #9
You need to do a webauthn 'make deploy' as root in the source tree.
This deploys the database sample config and the new daemon account and
database.

If you want to change the webauthn config, you need to replace the
~webauthn/webauthn2_config.json with your revised one and run
webauthn2-deploy again to create the corresponding DB schema.  If you
want to do it in one go, put this config file in pl

[2016-05-26 23:40] ljpearlman commented on #9
I think we need a convenient way to upgrade existing deployments; maybe something that does this:

1. Create the webauthn account
2. Generate ~webauthn/webauthn_config.json from the existing ~ermrest/ermrest_config.json
3. Create database roles and change ownership/permissions of the existing webauthn schema, but leave the contents of the tables alone.

[2016-05-26 23:46] karlcz commented on #9
It's not even going to be in the same database...  the new schema
will be in the webauthn DB.

I'm not very concerned about this upgrade outside of a controlled devops
scenario.  I expect those steps to be done by the provisioning recipes
and not by any code specifically in the webauthn repo.

[2016-06-08 17:52] mikedarcy opened #40 "logout_url incorrectly always set to default_logout_path in database provider"
This relates to https://github.com/informatics-isi-edu/chaise/issues/413

`rest.py` lines 323-329:

[code]
Seems like line 325 should be ` rv = {LOGOUT_URL : logout_url }`.

Similar code in `globus_auth.py` seems to do the right thing:

[code]
`

[2016-06-08 21:28] karlcz commented on #34
If we start using mod_webauthn in the hot-path and it does caching, this seems less worthwhile.

[2016-06-14 00:39] hongsudt commented on #27
@ljpearlman Can you schedule time to work on this this month?

[2016-06-14 18:42] #34 closed

[2016-06-30 21:57] #22 closed

[2016-06-30 22:54] ljpearlman commented on #25
Looks good to me; I removed one more file that appears to be used only by the globusonline provider. Bouncing it back to @karlcz for review because I touched it last.

[2016-06-30 23:03] ljpearlman commented on #40
I think this was fixed with commit  d670d9c.

[2016-07-01 17:00] karlcz commented on #25
Looks good to me.

[2016-07-01 17:00] #25 closed

[2016-07-05 22:39] #40 closed

[2016-07-12 23:04] #28 closed

[2016-07-13 01:38] #39 closed

[2016-07-13 18:53] svoinea opened #41 "The logout_url parameter from the DELETE /session request can not be provided just as an URL path like in ermrest_config.json"
If I provide for the `logout_url` parameter just a URL path, webauthn does don't include in the `Continue to ...` link the hostname of the sender, like it does with the `default_logout_path` parameter from `ermrest_config.json`.

As this link appears in the Globus logout page, the Globus server hostname will be used instead of the sender's one.

The `logout_url` parameter works properly for URLs s

[2016-07-22 17:23] karlcz commented on #33
As I understand it, this caching is already implemented and awaits review as part of the overall apache module behavior...

[2016-07-22 17:44] karlcz opened #42 "Integrate mod_webauthn into top-level makefile and travis build"
webauthn/master makefile should install and deploy mod_webauthn including conf.d/ content that configures the module in addition to the /authn WSGI endpoint.  (Not sure if this should be more directives in wsgi_webauthn.conf or a separate file just for the module config, so it composes with existing deployments that already have an older wsgi_webauthn.conf?)

[2016-07-22 17:49] karlcz commented on #42
I am assigning this to both of us to discuss and I expect I might do the small bits of integration work.

[2016-07-22 19:34] karlcz opened #43 "Remove non-fatal web.debug calls"
The web.debug function just prints to stderr of the wsgi process and should not be used for frequent informational messages as they pollute ssl_error_log.  This same stderr stream is where exceptional stack traces will appear, so we cannot just suppress this log path via apache.

Any indiscriminate diagnostic web.debug calls used during development should be removed in general production practice.

[2016-07-22 23:34] karlcz commented on #33
I did a test install of mod_webauthn and confirmed that there is caching of the /authn/session resource, i.e. fewer requests on that resource are logged than the multiple protected resource requests made using a valid session.

[2016-07-22 23:34] #33 closed

[2016-07-23 00:01] karlcz commented on #14
I've tested this in combination with Hatrac (not static files).  Current gotchas:

1. The default WebauthnCookieName directive is `ermrest` while webauthn/master defaults to `webauthn` as the session cookie name.
2. It doesn't seem like the module is making PUT session requests, so a series of resource access requests that are guarded by the module will not extend session lifetime and it will sudd

[2016-07-25 20:36] ljpearlman opened #44 "Validate rbk-dev recipe"

[2016-07-25 20:38] ljpearlman opened #45 "Update rbk-dev static www page with resource tab like rbk-staging's"
For rbk-dev, please also add an "Antibodies" link that links to https://staging.rebuildingakidney.org/chaise/search/#2/Resource:Antibodies (this link will be broken at first; that's okay).

[2016-07-25 20:40] ljpearlman opened #46 "Validate/update rbk-staging recipe"
Update rbk-staging recipe to match rbk-dev (with a tagged version and no hourly updates).

[2016-07-25 20:41] ljpearlman opened #47 "Validate/update rbk production recipe"
... to match rbk-staging.

[2016-07-25 20:44] ljpearlman commented on #44
Issue moved to [informatics-isi-edu/rbk-project #169](https://github.com/informatics-isi-edu/rbk-project/issues/169) via [**ZenHub**](https://www.zenhub.com/)

[2016-07-25 20:44] #44 closed

[2016-07-25 20:45] #45 closed

[2016-07-25 20:45] ljpearlman commented on #45
Issue moved to [informatics-isi-edu/rbk-project #170](https://github.com/informatics-isi-edu/rbk-project/issues/170) via [**ZenHub**](https://www.zenhub.com/)

[2016-07-25 20:46] ljpearlman commented on #46
Issue moved to [informatics-isi-edu/rbk-project #171](https://github.com/informatics-isi-edu/rbk-project/issues/171) via [**ZenHub**](https://www.zenhub.com/)

[2016-07-25 20:46] #46 closed

[2016-07-25 20:46] ljpearlman commented on #47
Issue moved to [informatics-isi-edu/rbk-project #172](https://github.com/informatics-isi-edu/rbk-project/issues/172) via [**ZenHub**](https://www.zenhub.com/)

[2016-07-25 20:46] #47 closed

[2016-07-26 20:50] karlcz commented on #42
As a preliminary step, I'm trying to switch over webauthn's travis build to their newer ubuntu 14-based "beta" environment.  This will hopefully be a modern enough apache httpd to make testing of mod_webauthn feasible.

[2016-07-27 18:49] karlcz commented on #42
The module is now building and installing by default for travis ci.  I'm going to call this integration complete and ask @ljpearlman to review.  I think remaining test and config tasks should be done in the existing module development issue rather than here.  I'll go update that issue description a little...

[2016-07-27 18:54] karlcz commented on #14
I have been thinking about this, and I think the module should *always* use PUT rather than GET on sessions.  Since there is a caching layer that throttles request rates, I don't think there is any value in further trying to limit the session extension requests from the module's perspective.

[2016-07-27 19:02] karlcz commented on #14
I added a fourth issue description clause about config and test case integration needed to call this work complete.

[2016-08-09 00:42] svoinea commented on #41
Tested and works as expected.

[2016-08-09 00:42] #41 closed

[2016-08-10 00:59] ljpearlman opened #48 "Make the Globus group endpoint configurable."
This was hard-coded into the globus_auth provider. Alejandro needs to change it to test the new facebase branding on the Globus staging site.

[2016-08-10 01:00] ljpearlman commented on #48
Added the config parameter `globus_auth_group_endpoint`.

[2016-08-10 01:06] ljpearlman opened #49 "Specify oauth redirect URLs relative to the host, not the service"
Webauthn expands the oauth2_relative_redirect_uri parameter relative to the current service (e.g., if /authn/session is referenced from within https://myhost/ermrest, it will be expanded to https://myhost/ermrest/authn/session). This isn't what we want with the new /authn service.

[2016-08-10 01:07] ljpearlman commented on #49
Added a new parameter, `oauth2_redirect_uri` that does what we want. `oauth2_redirect_relative_uri` is still supported for now.

[2016-08-10 17:37] karlcz commented on #42
I think this has now been testing on travis and being observed to install on multiple project VM reprovisioning cycles, and lingering in review state doesn't make sense.

[2016-08-10 17:37] #42 closed

[2016-08-10 21:09] karlcz commented on #49
It seems like I had to edit the oauth secrets "redirect_uris" field as well in order to see callbacks happening on the standalone /authn/session resource.

[2016-08-11 17:39] karlcz commented on #49
I did more tests on more VMs and saw this feature working.  Doing controlled tests without any dev-update cron job, editing one config file at a time, and starting from scratch with an empty browser (full restart with cleared cookies and cache), I saw the callback path in ssl_access_log change with the use of `oauth2_redirect_uri` as described by @ljpearlman

I am not sure how I got the weird symp

[2016-08-11 17:39] #49 closed

[2016-08-12 02:49] ljpearlman commented on #14
At this point I think this is basically done except for the test cases. The documentation is more complete, too.

[2016-08-30 00:53] karlcz opened #50 "mod_webauthn letting sessions expire while in use"
I have a test server using database providers with the following apache config elements:

[code]

I run tests with a procedure like:
1. Login using `curl -c cookie -d username=testuser -d password=dummypassword https://server.example.com/authn/session`
2. Run test scripts using `curl -b cookie https://server.example.com/ermrest/...`

The webauthn server is configured with a 30 minute session expir

[2016-10-04 18:54] hongsudt opened #51 "User cache in webauthn doesn't get updated properly"
My new profile didn't get reflected in the cache. I needed to delete and then re-login to the system to see the updated profile.

[2016-10-04 18:56] hongsudt opened #52 "expose user identities to the session"
This information should be accessible in the session.

There is an ermrest function `_ermrest.current_attributes()` that is supposed to return all user identities. @karlcz is that right?
1. Expose plurality of client identities in context.attributes so that services can perform authorization tests by intersecting context.attributes against an ACL. Presence of any of client's identities in ACL is s

[2016-10-04 19:03] karlcz commented on #52
I don't remember whether we ever specified what to do with linked identities, but given the confusion we've seen around them, I think it makes sense to include them in the attributes. That way, things like ownership/provenance ACLs have a better chance of matching to the current client no matter what crazy history they have had of using accounts before and after linking them.

[2016-10-04 19:05] karlcz commented on #52
One thing I wonder is whether we actually want to expose the identities set as well so that an application can use it instead of primary identity when recording provenance?  I.e. this record created by set of identities rather than an arbitrarily chosen member of the set.

This would require either changing the webauthn.context.client to allow a set, or adding an extra field to the context like cl

[2016-10-05 07:02] carlkesselman commented on #52
This would seem to make sense to me.  If we have the potential to get a set of identities, it would seem to me that we would like to be robust in the use of that set rather then having to pick just one.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institut

[2016-10-10 23:40] ljpearlman commented on #51
When I try it, it does update. Please try this:

1. On some host, as the webauthn user, do "psql" and then "select * from "user" where full_name like 'Hongsuda%';

2. Note the values of access_token, access_token_expiration, and the "iat", "exp", and "nbf" values in the userinfo structure.

3. Log out and log in again.

4. Do another query. Compare the values of access_token, access_token_expirati

[2016-10-10 23:58] ljpearlman commented on #52
It turns out we actually do include these in the attribute list (something I'd explicitly added, along with all groups from all alternate identities, the last time this came up, and then forgot about). Do we want to put these into a separate identities set instead of / in addition to the attribute set?

[2016-10-11 17:14] karlcz commented on #52
Like I said above, I think we want to know the client identities so applications can store them as provenance/ownership. This means we need to make them available in a way that can be distinguished from non-identity attributes (while they should continue to appear in attributes too).

I think we should add a field  context.client_identities which is a list and has members in it of the same kind as

[2016-10-11 19:45] ljpearlman opened #53 "Add an "owner" column to all tables that users will be able to write to."
This should be populated by default by the current ermrest user (_ermrest.current_client()) and presumably also be  used in row-level security triggers for those same tables.

- [ ] Antibody
- [ ] Cell lines
- [ ] Protocol
- [ ] RNASeq

[2016-10-11 19:49] ljpearlman opened #54 "More guidelines for RBK scripts"
Write up some guidelines for RBK scripts to clarify what can be run independently, how to make sure we can build the db from scratch, how to deal with migration between the three servers once users are able to add/update data, etc.

[2016-10-11 19:54] #54 closed

[2016-10-11 19:55] ljpearlman commented on #54
Wrong repo.

[2016-10-11 19:57] ljpearlman commented on #53
Wrong repo.

[2016-10-11 19:57] #53 closed

[2016-10-24 20:21] ljpearlman commented on #52
The client structure now has an "identities" field (with all identities, including the primary one).

[2016-10-24 20:23] ljpearlman commented on #52
Related commit was 4405082ec547a5395d55ad86c94264c6446e8c55

[2016-10-24 20:25] ljpearlman commented on #51
I'm moving this to "review" since it seems to be working for me. If it still seems broken, please say exactly what you're seeing / not seeing that looks wrong (and how to reproduce it).

[2016-10-24 23:41] karlcz commented on #52
I confirm that I see an `identities` sub-field on the client object within a fresh session.  I don't have linked accounts so cannot verify that I actually get more than one identity listed in there...

[2016-10-24 23:42] karlcz commented on #52
@hongsudt  do you have a linked account to test with?  or should I just close this now?

[2016-10-25 00:19] karlcz commented on #50
I just wanted to note that I am still seeing this behavior as of latest webauthn/master at 4405082ec547a5395d55ad86c94264c6446e8c55

[2016-11-10 19:47] karlcz commented on #48
@bugacov has this worked for you?  can we close the issue?

[2016-11-16 20:01] karlcz commented on #50
I've re-tested and confirmed that this is now working.

[2016-11-16 20:01] #50 closed

[2016-11-19 00:09] karlcz commented on #14
I added a small static file test suite and fiddled until I got it to work on travis (confusing due to self-signed cert, old apache, and old libcurl).  In the process what I thought would be one simple commit turned into a mess that probably should have been in a pull request...

So, @ljpearlman please review [the aggregate changes](https://github.com/informatics-isi-edu/webauthn/compare/7c30a5419a

[2016-11-19 00:19] karlcz commented on #43
I went ahead and commented out the remaining offenders...

[2016-11-19 00:19] #43 closed

[2016-11-19 01:09] karlcz opened #55 "Directive to use mod_webauthn for anonymous sessions"
From the current docs and skimming the mod_webauthn source code, I don't see a way to use the module for services like ermrest and hatrac where anonymous clients are allowed but authentication info is desired.

We need a set of apache directives to apply on a location or directory to:
1. Enable mod_webauthn to look up any valid session identity via cookie
2. Set the webauthn environment w/ the cli

[2016-11-30 18:17] karlcz opened #56 "Add syslog logging mechanism"
Our ermrest and hatrac services have syslog logging output for audit. We should probably add the same thing to webauthn REST APIs for consistency in operations...

[2016-12-01 19:59] karlcz commented on #55
@ljpearlman any estimate of how much work this will take?  As I recall our last discussion, we would like to have:

1. `Require webauthn-group wildcard` statement activates the module
2. Module can *opportunistically* look up current session info or populate anonymous attributes list
3. Evaluating the require statements
    - wildcard matches anonymous and real sessions
    - non-match raises 401

[2016-12-01 20:38] carlkesselman commented on #55
If this is a blocker, then we should work to make sure we can schedule this work.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern Californi

[2016-12-02 23:43] #52 closed

[2016-12-03 00:08] karlcz commented on #51
Closing this, and someone can reopen or resubmit if new problems are observed

[2016-12-03 00:08] #51 closed

[2016-12-03 00:16] karlcz commented on #48
@ljpearlman can you add this parameter and its default value to the sample config and/or documentation?

[2016-12-03 00:28] karlcz commented on #27
I tried to review this and find that the `last_login` `last_session_extension` and `last_group_update` fields of the user table are all NULL on several dev systems that I inspected. @ljpearlman

[2016-12-07 01:59] ljpearlman commented on #27
Heh. It turns out I left some files out of the commit. @karlcz

[2016-12-09 00:38] ljpearlman commented on #55
Okay, there's now a `Require webauthn-optional` directive that populates session info hen available and always allows requests to proceed. (This was commit 2b47c76).

[2016-12-09 23:18] karlcz commented on #55
@ljpearlman did you mean to move this issue to review now or are you still working on it?

[2016-12-10 00:02] ljpearlman commented on #55
I meant to move it to review, but I didn't mean to leave myself as the assignee. :-).

[2016-12-12 19:19] karlcz commented on #55
I've tested this and believe it is working. However, there are a couple of concerns I have on tinkering and reviewing the code (one specific to this feature and one general one):

1. If we could produce an empty JSON session object when the module runs and there is no active session, we could refine the way the legacy services interact with this module to avoid a redundant session lookup for every

[2016-12-13 19:49] ljpearlman commented on #55
I think I'd like to resolve those before we close this.

[2016-12-13 21:43] karlcz commented on #55
I saw the changes to the parser.  There are still a bunch of utility functions `..._from_json` which have if/else chains to cover expected cases but no logging if they fall off the end without having done what we expect. I think it would be better to log broken inputs than to fail silently, since this will be very hard for a sysadmin to debug if everything isn't working right in a deployment...

[2016-12-13 22:45] #14 closed

[2016-12-16 19:38] karlcz commented on #55
@ljpearlman  I forgot to assign this back to you after my last comments...

[2017-01-04 01:49] karlcz commented on #56
@ljpearlman  can you review this logging change?  I basically copied a method we use in the other services...

[2017-01-05 19:51] karlcz commented on #56
I wonder whether we should be more selective about the /auth/session  GET and PUT requests in this logging?  This will include all the requests issued by mod_webauthn to the wsgi backend right now...

I'm not sure what logic could/should be used to decimate those logs though.

[2017-01-18 18:53] karlcz opened #57 "Internal error during login, jwt.split() with jwt value None"
On newer Fedora-based VMs we are seeing frequent but sporadic failures during login using globus_auth providers.

A typical stack-trace looks like:
[code]

[2017-01-20 00:40] karlcz commented on #55
@ljpearlman can you either close this or split off a separate code cleanup issue if you plan to defer work on the error handling for a long time?  I think the original feature described in this issue is done and tested...

[2017-01-20 20:22] ljpearlman commented on #57
Okay, I'm pretty sure at this point that this is a manifestation of https://github.com/pyca/cryptography/issues/3282

One thing that makes me sure of this is that I've run some tests and found the error messages referenced by that bug on Fedora systems when logins are failing but not when they're succeeding.

This leaves us with two options: try to upgrade to a fixed version of the Python cryptogr

[2017-01-20 20:23] ljpearlman commented on #57
Note: those messages are in `error_log`, not `ssl_error_log`. And they're not timestamped, so you have to watch the log file while you're attempting to log in.

[2017-01-24 02:11] karlcz commented on #57
We determined that we did not previously use the Fedora RPM for python-cryptography but it was getting pulled in on new Fedora 25 builds and interfering with our stack due to that bug in the 1.5 version currently shipped in Fedora.

A temporary workaround is to forcibly `dnf remove python2-cryptography` from the system before building our stack, so that a different set of third-party libraries are

[2017-01-24 02:11] #57 closed

[2017-03-16 00:42] hongsudt opened #58 "consistent 500 error code for GET /ermrest/authn/session?cid=search"
The search page consistently flashes 500 internal server error before the page is updated properly..

Here is the link to replicate the issue.. You will need to login first.
https://data.gpcrconsortium.org/chaise/search/#1/assets:cpm

I looked at the http access log and saw the request with 500..
[code]

The following errors also showed up in the error log.
[code]

[2017-03-16 00:56] ljpearlman commented on #58
The API expects GET /session to be called in one of three ways:

1. With no arguments - it returns the current session info
2. With only a "referrer" argument - it also returns the current session info
3. With any other combination of arguments - it assumes the user is logging in and passes those arguments to the handler, which attempts to use them to log in.

In this case, GET /session is being p

[2017-03-16 01:00] karlcz commented on #58
I think we should special case this and ignore it.  We are using `cid` to try to brand the requests with which particular client app code issued it...

[2017-03-16 01:02] svoinea commented on #58
I shall remove the query parameter `cid=search` for the `/ermrest/authn` requests.
So far, I have added that parameter to all the `/ermrest` requests in the `search` application.

[2017-03-16 01:04] ljpearlman commented on #58
Okay, I'll special case it (so, thanks Serban, but you can leave search as it is).

[2017-03-16 18:58] #55 closed

[2017-03-16 18:58] #35 closed

[2017-04-08 00:26] hongsudt opened #59 "add pseudo session info for anonymous client tracking"
Some kind of tracking cookie that will act similar to a session cookie without granting any privileges so that it could be included in the web service audit log for event correlation.

- [x] Add tracking cookie awareness to the `webcookie` provider
- [x] Add tracking field to the Context object
- [x] Add tracking field to the /authn/session response object
- [x] Add tracking field to the webauthn

[2017-04-10 20:38] #56 closed

[2017-04-19 02:02] karlcz commented on #58
I can confirm recent non-500 responses for the GET method on `/authn/session?cid=search` so this is fixed.

(It seems like it may not matter in practice, as this GET message isn't actually one we care to trace... I think we need a more sophisticated bit of tracking if we want to understand the causal linkage to new sessions. Probably the inclusion of a session ID in other events is the best way fo

[2017-04-19 02:02] #58 closed

[2017-04-20 22:10] karlcz commented on #27
I looked again and at least some production systems are now tracking those webauthn events described as NULL above.  So I'm going to close this very stale review issue...

[2017-04-20 22:10] #27 closed

[2017-04-20 22:38] karlcz opened #60 "Add short-term expires header to session responses"
A concern came up in discussions about useless frequent polling of the session resource by ajax apps.

Should we send an HTTP expiration header with each GET session response so that the browser can be told to reuse the answer for a short period (e.g. 5 seconds) to throttle the request rate?

@ljpearlman

[2017-04-21 02:14] karlcz commented on #59
After several laps around the track, I think we've decided what we really want!  It's not a session ID but user tracking.

We can configure apache httpd's `mod_usertracking` module as follows:

[code]

This will set a cookie with a unique ID for the first access to our server, unless the client has opted out with the `DNT` (do not track) standard.

In webauthn, we can just look for this cookie and

[2017-05-02 18:02] karlcz commented on #4
I took a quick look and it seems to me the webauthn documentation is still pretty out of date with our actual code.  I'm returning this to the backlog since it's not appropriate to park it in review.

[2017-05-26 19:06] robes opened #61 "install failed"
Are there some additional prereqs I missed? I didn't see anything else documented.

Env:
- guest: fedora 25
- vmware fusion 7
- host: os x

Steps:
- git clone...
- cd into webauth
- sudo make install

[code]

[2017-05-26 19:08] robes commented on #61
Seems like there are two additional packages required to run the make, libcurl-devel and httpd-devel. I would suggest they should get pulled in by the makefile if that's appropriate.

[2017-05-26 21:20] robes commented on #61
Looks like also json-c and json-c-devel are needed.

[2017-05-26 21:28] robes commented on #61
Finally some errors during `make deploy` can probably be suppressed and are at least partly outdated.

[code]

Clearly the `ermrestddl` is outdated unless there's something going on for backward compatibility with older deployments.

[2017-07-06 20:18] karlcz commented on #61
We intentionally stopped managing dependencies from the Makefile because we need it to work in different provisioning environments which have different ways to do that.  At best, we should revise the `preinstall_centos` make target or better yet add a new `preinstall_fedora` and deprecate that old one...  It will be the dev's responsibility to build that target though.  The core install procedure

[2017-07-06 20:30] robes commented on #61
Then the documentation should be fixed.

[2017-07-25 01:00] robes opened #62 "Log full error message returned from OAuth service providers"
In our recently encountered errors in the OAuth authentication flow with Globus, we got back an error from Globus but didn't log the full error message. This limited our ability to report more details and debug fully.

[2017-07-25 23:34] karlcz commented on #62
I think you're talking about this kind of failure observed in some of our systems 2017-07-17:

    Got <class 'urllib2.HTTPError'> exception HTTP Error 401: Unauthorized while getting token (url https://auth.globus.org/v2/oauth2/token...

which is coming out of:

    File "/usr/lib/python2.7/site-packages/webauthn2/providers/oauth2.py", line 401, in open_url

is that correct?

[2017-07-25 23:43] robes commented on #62
That's correct.

[2017-07-28 01:10] ljpearlman commented on #62
I don't think there's any additional information to log. I believe people thought there was because the logs include the amount of data sent with the request, and people thought that was the amount of data received.

[2017-07-31 07:53] ljpearlman commented on #59
BTW, the config entry described above didn't work for me -- I didn't get a cookie even when I turned  DNT off in my browser. To get tracking to work on rbk-dev, I've temporarily created a file called /etc/httpd/conf.d/usertrack.conf that's basically:
[code]
This means it's not honoring DNT. I haven't put this into the recipe or moved it onto staging or production.

I'm also less sure than I was be

[2017-07-31 21:37] karlcz commented on #59
I did a similar test and see that Firefox is also sending DNT: 1 no matter what settings I attempt to adjust in the browser/privacy settings.

[2017-07-31 21:58] karlcz commented on #59
I can confirm that I see the desired tracking cookie (for this issue) when I change the server to ignore the DNT header and enable tracking in spite of my browser.

[2017-08-03 00:23] #59 closed

[2017-10-13 22:13] hongsudt opened #63 "duplicate put webauthn log messages"
It seems like the PUT requests are being logged twice in syslog..

example log entry:

276429257,,2017-10-13 12:34:28,2017-10-13 12:34:28,17,6,www.rebuildingakidney.org," {""elapsed"":0.002, ""req"":""JssJg/l0wpM="", ""scheme"":""https"", ""host"":""www-gudmap3.gudmap.org"", ""status"":""200 OK"", ""method"":""PUT"", ""path"":""/authn/session"", ""client"":""128.9.132.202"", ""user"":{""display_na

[2017-10-14 01:23] karlcz commented on #63
we should confirm that it's really a duplicate entry (same random request ID).  if so, there is probably an explicit log invocation in the PUT method handler and also a shared one that is also handling GET etc?

[2017-10-23 22:09] karlcz commented on #63
I think this is due to the PUT method proxying to the GET method handler and both of them activating the same logging mechanism.

[2017-10-23 22:18] karlcz commented on #63
I pushed a tiny change to webauthn to fix this.  once you have the updated code running, you should see that a PUT on /authn/session only produces one log message. @hongsudt

[2017-10-23 22:21] karlcz commented on #61
I pushed a small tweak to the documentation and makefile regarding this old thread...

[2017-11-07 19:40] karlcz opened #64 "Add client logging header"
See informatics-isi-edu/ermrest#177 and implement the same logging extension for webauthn.

[2017-11-07 21:36] karlcz commented on #64
This is patched in master.

[2017-11-10 19:24] #61 closed

[2017-11-10 19:25] #64 closed

[2017-11-17 20:01] karlcz opened #65 "Support non-local database cluster"
We want to make sure webauthn can be used in web servers sharing the same non-local database, e.g. for a load-balancing scenario:

- [ ] Ensure that webauthn honors the database connection string in `webauthn_config.json`
- [ ] Ensure that the deploy process honors the configured database connection string
- [ ] Allow for renaming of the database so that several webauthn deployments could safely s

[2017-11-29 23:15] karlcz commented on #63
@ljpearlman  I was trying to verify that this fix worked by logging myself in on www.rebuildingakidney.org, however I am now more confused than ever.

I don't see the duplication of identical log messages anymore, so I think my fix worked as intended. That was where the PUT method called the GET method and they both have the same decorator that logs an event to syslog.

But I do see qty 3 logged e

[2018-01-08 18:39] #63 closed

[2018-04-09 18:13] #48 closed

[2018-06-02 01:13] karlcz commented on #60
I think this is no longer a significant concern.

[2018-06-02 01:13] #60 closed

[2018-10-01 19:50] ljpearlman opened #66 "Rethink expiration/renewal strategy with oauth-authenticated sessions"
Use token expiration (maybe min(token expiration, local max session length)) for session lifespan; manage and use refresh tokens, reconsider strategy of always extending sessions on PUT /authn/session.

[2018-10-01 19:51] ljpearlman opened #67 "Nail down procedure for creating new Globus clients/scopes"

[2022-02-03 03:23] svoinea opened #75 "Session Esteblishment with () Failed"
While asking to login, sometimes a popup window as shown below appears:
[
<img width="809" alt="Screen Shot 2022-02-02 at 7 13 03 PM" src="https://user-images.githubusercontent.com/1609577/152275776-fcff0ec7-bff7-4d63-b179-574736d20507.png">
](url)

You need to re-click the `Login` button in order to be successfully.

My understanding is that the problem resides in the `Globus` server.

[2022-04-15 23:40] jrchudy opened #76 "Add properties to attributes returned with session"
In chaise we are currently iterating over the list of attributes returned with the session object and modifying each attribute to include a `type`. If an attribute has the same `id` as another attribute, we are merging those entries together. The 2 types that chaise sets are:
 - `identity` - if `attribute.id` exists in `client.identities`, set this attributes type to identity
 - `globus_group` - i